* {
    padding: 0;
    margin: 0;
}
body {
    background-image: url(../images/christopher-gower-m_HRfLhgABo-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Source Code Pro', monospace;
}
main{
    min-height: 100vh;
}
header, footer{
    background-image: url(../images/banner-header-tapete-1452530223iqL.jpg);
    color: #ffff;
}
nav {
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    padding: 1rem;
    font-weight: bold;
    color: #ffff;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    max-height: 80px;
}




