.footer{
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

    .textoFooter{
        padding-top: 1rem;
    }
}
