/* Movil */
@media screen and (max-width: 600px){
    .btn-open-sidebar{
        display: inline-block;
        background-color: map-get($colores,color1);
        color: #fff;
    }
    .listaHeader{
        background-color: map-get($colores,color2);
        width: 80%;
        max-width: 400px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
        transition: transform 0.5s;
        z-index: 100;
    }
    #sidebar:target{
        transform: translateX(0%);
    }
    .descripcion{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "descripcion__ladoA";
        padding: 1rem;

        &__ladoA{
            h2 {
                font-size: 100%;
            }
            h3 {
                font-size: 35px;
                text-align: center;
                padding-top: 1rem;
            }
            p{
                font-size: 100%;
                line-height: 2rem;
                padding-top: 1rem;
            }
        }
        &__ladoB{
            img{
                display: none;
            }
        }
    }
    .bienvenido__caja {
        h1{
            font-size: 40px;
            font-weight: bold;
        }
        h2{
            font-size: 100%;
        }
    }
    .footer{
        font-size: 10px;
    }
    .nav__listaHeader--activo {
        background-color: map-get($colores,color3);
        color: map-get($colores,color1);
        border-radius: 5px;
    }
    .listaHeader__item--oculto{
        display: block;
    }
    #tarjeta--oculta1, #tarjeta--oculta2, #tarjeta--oculta3{
        display: block;
    }
    .col-8{
        width: 100vw;
    }
    .skills {
        display: none;
    }
    .header{
        flex-direction: row-reverse;
        align-items: flex-start;
    }
}
    /* Tablet */
@media screen and (max-width: 786px) and (min-height: 600px){
    nav{
        font-size: 15px;
    }
    .listaHeader{
        justify-content: space-between;
    }
    .descripcion__ladoB img{
        width: 100%;
        height: 70%;
    }  
    
}